<li [ngClass]="{'list-group-item' : true,
                'list-group-item-success': isLoveBiggerThanDontLoveIt(),
                'list-group-item-danger': !isLoveBiggerThanDontLoveIt()}">
  <div class="row">
    <div class="col-xs-9">
      <h3> {{ title }} </h3>
    </div>
    <div class="col-xs-3">
      <h4> {{ createAt | date : 'M/d/y, h:mm a'}}</h4>
    </div>
  </div>
  <p>
    {{ content }}
  </p>
  <button class="btn btn-success"
          (click) = "incrementeLoveIts()">Love it! ({{loveItNumber}}) </button>
  &nbsp;<button class="btn btn-danger"
          (click) = "incrementeDontLoveIts()">Don't love it! ({{dontLoveItNumber}})</button>
</li>
